.right-box {
    position: fixed;
    top: 50%;
    right: 20px; 
    width: 200px;
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 5px; 
    z-index: 9999;
  }
  
  
  .right-box h2 {
    margin-top: 0; 
    font-size: 18px;
  }
  
  .right-box ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  .right-box ul li {
    padding: 10px 0; 
    cursor: pointer;
  }
  
  .right-box ul li:hover {
    background-color: #ddd;
  }
  
  